# ========================
# Core
# ========================
django

# ========================
# Database
# ========================
mysqlclient

# ========================
# Environment & Security
# ========================
python-dotenv