{% extends 'TempAdvancedFeaturesApp/base.html' %}


{% block title %}
UK PAGE
{% endblock %}


{% block dropdown_item %}
UK
{% endblock %}


{% block dropdown_list_item %}
                  <li><a class="dropdown-item" href="#">University</a></li>
                  <li><a class="dropdown-item" href="#">Museums</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Stadiums</a></li>
{% endblock %}

{% block country_details %}

<h1>About UK</h1>
<p>The United Kingdom of Great Britain and Northern Ireland, commonly known as the United Kingdom (UK) or Britain,[m] is a country in Northwestern Europe, off the coast of the continental mainland.[21][22] It comprises England, Scotland, Wales, and Northern Ireland.[n][23] The UK includes the island of Great Britain, the north-eastern part of the island of Ireland, and most of the smaller islands within the British Isles.[24] Northern Ireland shares a land border with the Republic of Ireland; otherwise, the United Kingdom is surrounded by the Atlantic Ocean, the North Sea, the English Channel, the Celtic Sea, and the Irish Sea. The total area of the United Kingdom is 94,354 square miles (244,376 km2),[e][12] with an estimated population of nearly 67.6 million people in 2022.[13]

 In 1707, the Kingdom of England (which included Wales) and the Kingdom of Scotland united under the Treaty of Union to create the Kingdom of Great Britain. The Acts of Union 1800 incorporated the Kingdom of Ireland to create the United Kingdom of Great Britain and Ireland in 1801. Most of Ireland seceded from the UK in 1922 as the Irish Free State, and the Royal and Parliamentary Titles Act 1927 created the present name, the United Kingdom of Great Britain and Northern Ireland.
 
 The UK became the first industrialised country and was the world's foremost power for the majority of the 19th and early 20th centuries, particularly during the "Pax Britannica" between 1815 and 1914.[25][26] At its height in the 1920s, the British Empire encompassed almost a quarter of the world's landmass and population, and was the largest empire in history. However, its involvement in the First World War and the Second World War damaged Britain's economic power and a global wave of decolonisation led to the independence of most British colonies.[27][28][29] British influence can be observed in the legal and political systems of many of its former colonies, and British culture remains globally influential, particularly in language, literature, music and sport. English is the world's most widely spoken language and the third-most spoken native language.[30]</p>
   

    {% endblock %}