<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <div style="padding-bottom: 20px; padding-left: 30px;"> Student Info</div>
          <li class="list-group-item">Name : {{  all_records.name }}</li>
          <li class="list-group-item">Adress : {{ all_records.address }}</li>
          <li class="list-group-item">E-mail : {{  all_records.email }}</li>
          <li class="list-group-item">College : {{ all_records.college }}</li>
          <li class="list-group-item">Degree : {{  all_records.degree }}</li>
          <li class="list-group-item">Mark : {{ all_records.mark }}</li>
          <li class="list-group-item">Fav_Sports : {{  all_records.fav_sports }}</li>
          <li class="list-group-item">Fav_Actor : {{ all_records.fav_actor }}</li>
        </ul>
      </div>
</body>
</html>