<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Odisha</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus minima facilis distinctio numquam, totam magnam quae neque, a nam ea incidunt in ipsum deleniti adipisci impedit similique iure unde excepturi?</p>

    <h2>Famous cities</h2>
    <p>Bhubanewsar</p>
    <p>Cuttack</p>
    <p>Puri</p>


    <h2>Famous Temples</h2>
    <p>Jagannath Temple,PURI</p>
    <p>Lingaraj Temple,BHUBANESWAR</p>


</body>
</html>